body { 
	margin:0;
    font-family:Lato;
}
input {
    position: absolute;
    top: 15px;
    left: 15px;
    visibility: hidden;
}
#instructions{
    color:white;
}
.loader {
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    display: none;
}
.loader.loading  {
	display: block; 
}
#bassText{
	position: absolute;
    top: 115px;
    left: 15px;
    visibility: hidden;
}
#canvasDiv{
	width: 1200px;
	height: 800px;
}